.logo-background {
  width: 20rem;
  position: absolute;
  @media (max-width: 480px) {
    width: 14rem;
  }
}
.logo-fridge {
  width: 20rem;
  position: relative;
  transition: transform 0.5s;
  transform: scale(1);
  @media (max-width: 480px) {
    transition: 0;
    width: 14rem;
  }
}
.logo-fridge:hover {
  transform: scale(1.1);
}

.logo {
  display: flex;
  justify-content: center;
  margin: 0 auto 1.2rem auto;
}

@media (prefers-reduced-motion: no-preference) {
  .logo-background {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
