

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;

  z-index: 1;
  background-color: #ddf0e1;
  width: 100%;
}

a {
  text-decoration: none;
  color: #5e5f5e;
  pointer-events: fill;
}

h3 {
  margin: 0.5rem 0;

}

@media (max-width: 400px) {
  .header {
    display: none;
  }
}
